// available in the https://cpl.libcal.com/admin_look.php?action=0
// this is the custom CSS code ONLY 


<link rel="stylesheet" href="https://use.typekit.net/hmm8egp.css">

<style> 

body {
font-family: 'proxima-nova', sans-serif !important;
font-size: 1.25em; 
}
h1, h2, h3, h4, h5 {
font-weight: 700;
}

.media-body {
font-size: 1.3em;
}


#s-lc-appointments-availability-warning {
    display: none;
}


/*hide Make Another Booking button 
on the cancel person's booking page*/

#s-lc-start-new-booking {
display: none !important;
}


</style>