// available in the https://cpl.libcal.com/admin_look.php?action=0
// this is the custom CSS code ONLY 


<style> 

body {
font-family: 'proxima-nova', sans-serif !important;
font-size: 1.25em; 
}
h1, h2, h3, h4, h5 {
font-weight: 700;
}

/*Hide seats remaining banner in card view*/
.s-lc-ribbon-top-right {
    display: none;}

</style>